/* CSS GOES HERE SON !!  */
.App {
  background-color:#E8E1C0;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
}
ul {
  padding: 0em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  list-style-type: none;
}
.titleText {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: brown;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bolder;
}
.titleBar {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.titleName {
  padding-right: 10px;
}
.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 30%;
  background-color: white;
  flex-direction: column;
  border-style: solid;
  border-width: 3px;
  border-color: orangered;
}
.aboutText {
  padding: 50px;
}
.linkContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
  flex-direction: column;
}
.linkContent ul {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 
.linkContent ul li {
  display: inline;
}
.linkContent img {
  border-style: solid;
  border-width: 3px;
  border-color: brown;
}
ul.linkList {
  list-style-type: none;
  display:flex;
  justify-content: center;
  align-items: center;
}
.resumeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
  border-style: solid;
  border-width: 3px;
  border-color: yellow;
  width: 300px;
  height: 400px;
}
.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: black;
  flex-direction: column;
  margin-top: 50px;
}
.navDeco {
  display:flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.navBarDeco1 {
   height:10px;
   width: 100%;
   background-color: orangered;
}
.navBarDeco2 {
  height:10px;
  width: 100%;
  background-color: yellow;
}
.navBarDeco3 {
  height:10px;
  width: 100%;
  background-color: brown;
}
.navBarDeco1m {
  height:10px;
  width: 100%;
  background-color: orangered;
}
.navBarDeco2m {
 height:10px;
 width: 100%;
 background-color: yellow;
}
.navBarDeco3m {
 height:10px;
 width: 100%;
 background-color: brown;
}
.brand {
  display:flex;
  flex-direction: column;
}
a:link {
  color: brown;
}
a:visited {
  color: brown;
}
.contactList li {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}
.resume {
   width: 550px;
   height: 800px;
   border-style: solid;
   border-width: 3px;
   border-color:brown;
}
.contactList {
  list-style-type: none;
}
.fab, .fas {
  margin-right: 10px;
}
.umbrella {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-animation-name: umb-animation;
  -webkit-animation-duration: 4s;
  animation-name: umb-animation;
  animation-duration: 10s;
}

@keyframes umb-animation {
  90% {
    transform: rotate(-360deg);
  }
}
@media only screen and (max-width: 768px) {
  .titleBar {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .titleTitle {
    align-items: center;
  }
  .aboutContent {
    width: 300px;
  }
  .resume {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .navBarDeco1 {
    width: 100vw;
 }
 .navBarDeco2 {
   width: 100vw;
 }
 .navBarDeco3 {
   width: 100vw;
 }
.linkContent {
   display: inline;
   margin-left: 25px;
   margin-right: 25px;
 }
 .contactList li {
   display: inline;
   padding-bottom: 25px;
 }
}